.calender{
    display: grid;
    grid-template-columns: repeat(7, 1fr);
     grid-template-rows: repeat(6,50px);
    row-gap: 15px;
    column-gap: 10px;
    
   
}
.date,.day {
    background-color:  green;
    border-radius: 5px;
    
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;


}
.day{
    background-color: lightsalmon;
    font-size: 1.5em;
}