.container , .inner{
    width: 200px;
      height: 200px;
}
.container{
    border: 2px solid blue;
    background-color: aquamarine;

}

.inner{
    border: 2px solid brown;
    background-color: palegoldenrod;


    /* transform: scale(0.5); */
    /* transform: rotate(45deg); */
    /* transform: rotate(180deg); */
    /* transform: rotate(45deg); */
    /* transform: scale(0.5) rotate(45deg); */
    /* transform: scale(0.5) rotate(45deg) translateX(80px) ; */
/* transform: translateX(80px) translateY(50px) rotate(45deg); */




}

.inner:hover{
    transform: rotate(20deg);

}